body {
  background-color: #7a4626;
  /* text-align: center; */
  color: white;
  font-family: "Optima", "sans-serif";
}
header {
  padding: 10px;
  background: #c79779;
  border-radius: 25px;
}
a:hover {
  color: #f1b6b1;
}
a {
  color: white;
  text-align: right;

  text-decoration: none;
}
.contact-us {
  text-align: left;
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 200px;
  padding-left: 80px;
}
#contact-form {
  padding-top: 60px;
  padding-right: 80px;
  padding-bottom: 200px;
  padding-left: 80px;
}
.main-div {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 12px;
  /* border-radius: 10px solid green; */
}
#info {
  margin: auto;
  background-color: #c77f52;
}
